@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');

// Font families
$sans: 'PT Sans', sans-serif;

// Main colors
$black: #000;
$white: #fff;
$background: #e8e8e8;
$text: #475766;
$primary: #ededed;
$secondary: #777;
$accent: #ffa078;

// Sizes
$radius: 4px;
$height: 50px;