@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');

// Font families
$sans: 'PT Sans', sans-serif;

// Main colors
$black: #000;
$white: #fff;
$text: #475766;
$primary: #ededed;
$accent: #ffa078;
$light-accent: #ffa07838;

// Sizes
$radius: 4px;
$height: 50px;