@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');

// Font families
$sans: 'PT Sans', sans-serif;

// Main colors
$black: #000;
$white: #fff;
$text: #475766;
$disabled-date: #ccc;
$disabled-input: #ececec;
$hover: #f1f1f1;
$accent: #ffa078;
$light-accent: #ffa07838;

// Sizes
$height: 50px;